body {
  background-color: #e5e5e5 !important; 
}

.top {
  height:320px;
  background : url(https://d12hfz37g51hrt.cloudfront.net/s/large/m3v6yf-61d5f78b5ff1a8bfee6c.jpg?1436753594);
}

.top nav ul{
  position:fixed;
  z-index:1000;
  width:100%;
  color:white;
  list-style:none;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  transition:.5s;

  margin-top:10px;
}
.top nav ul.active{
  background-color: #FFFFFF;
  border-bottom: 1px solid #c8c8c8;
  /* background:#333; */
  color:black;

  margin-top:0px;
}
.top nav ul li{
  display:inline-block;
  padding:20px 20px;
  font-size:16px;
}

section{
  padding:4px 50px 50px;
  line-height:120%;
}
p{
  margin-bottom:20px;
}

#a1 {
  padding : 0px 10px;
  margin-left:130px;
  margin-right:5px;
}

#logo {
  width:40px;
  height:40px;
  margin-top:-10px;
}

.small-top{
/*  border : 1px solid grey;*/
box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
    font-size: 14px;
    font-weight: 700;

  width:100%;
  height:50px;
  background-color: #F0F0F0;

  text-align: right;
}

.small-top ul{
  display:inline-block;
  list-style:none;
  width:300px;
  margin-right:120px;
}

.small-top ul li{
  display:inline-block;
  padding:14px 22px;
}

.contents{
  width:90%;

  margin:auto;

  height:353px;
  margin-top:30px;
  border-radius: 6px;
  background-color: #FFFFFF;

  -webkit-box-shadow: 0 15px 20px #777;
    -moz-box-shadow: 0 15px 20px #777;
    box-shadow: 0 3px 8px #777;
}

.movie-card{
/*  border : 1px solid grey;*/
  height:350px;
}

.product-card{
  border : 1px solid grey;
  height:350px;
}

.movie-card img{
  margin-left : 10%;
  margin-top : 10px;
  width:220px;
  height:300px;
  border-radius : 10px;

  -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 13px 27px #777;
}

.movie-card-top {
  height:300px;
}
.movie-card-bottom {
  height:50px;
  margin-left:40%;
  margin-top:24px;
  font-size: 25px;
  color : grey;
}